body{
    margin: 0;
    text-align: center;
}
.topo>h1{
    margin-top:0;
    padding-top: 7vh;
    font-size:6vh;
    margin-bottom: 0;
}
.topo{
    background-color: black;
    color: white;
    height: 25vh;
}
.texto{
    text-align: left;
    margin-left: 15px;
    height: 70vh;
}
h3>a{
    text-decoration: none;
    color: white;
}
.button:hover{
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}
.paralax{
    background-attachment: fixed;
    background-size: cover;
    height: 70vh;
    background-repeat: no-repeat;
    margin: 0;
    position: relative;
    background-position: top right;
}
.joaninha{
    background-image: url(imagens/background001.jpg);
}
.livros{
    background-image: url(imagens/background002.jpg);
}
.destaque{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    height: 55vh;
    position: absolute;
    top: 10%;
    padding: 5px;
    font-size: 1.8rem;
}
footer{
    background-color: black;
    margin-bottom:0;
    height: 30px;
    font-size:1.2rem;
    padding-top: 7px;
}
footer>p{
    margin:0 2px;
    color: rgb(233, 226, 226);
}
footer>p>a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
footer>p>a:hover{
    text-decoration: underline;
}